.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  mat-form-field.mat-form-field {
    font-size: 30px;
  }

  .example-container > * {
    width: 100%;
  }

  .alert {
    padding: 20px;
    width: 60%;
    align-self: center;
    align-items: center;
    align-content: center;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
  }

  #icon {
    font-size: 30px;
    padding-inline-end: 30px;
    padding-top: 10px;
  }