<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Consumer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past subsidies</span>
            </a>
            <a mat-button (click)="viewApplications()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Check Provision</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Lodge Complaint</span>
            </a>
        </div>
    </mat-toolbar>
</div>
<div class="container">
  <br />
  <table id="logs" align="center" width="100%">
    <thead>
      <tr class="table-header">
        <th rowspan="2">Customer ID</th>
        <th colspan="3">Provision</th>
        <th colspan="3">Subsidy Received</th>
      </tr>
      <tr>
        <th>Rice</th>
        <th>Wheat</th>
        <th>Olive Oil</th>
        <th>Rice</th>
        <th>Wheat</th>
        <th>Olive Oil</th>
      </tr>
    </thead>
    <tr class="table-row">
      <td>{{ citizenId }}</td>
      <td>{{ prov.Rice }}</td>
      <td>{{ prov.Wheat }}</td>
      <td>{{ prov['Olive Oil'] }}</td>
      <td>{{ invoked.Rice }}</td>
      <td>{{ invoked.Wheat }}</td>
      <td>{{ invoked['Olive Oil'] }}</td>
    </tr>
  </table>
</div>
