<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Consumer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past subsidies</span>
            </a>
            <a mat-button (click)="viewApplications()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Check Provision</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Lodge Complaint</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container" *ngIf="bool != false">
  <br />
  <mat-toolbar>
    <span style="font-size:30px">LODGE A COMPLAINT</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form example-container">
        <mat-form-field class="full-width">
          <mat-label>Sack Number</mat-label>
          <input matInput placeholder="Order Number" name = "orderNumber" [formControl]="orderNumber" maxlength="50" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" name = "description" [formControl]="description" maxlength="500" required>
        </mat-form-field>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button style="font-size:30px" type="submit" mat-raised-button color="primary" (click)="submit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</div>
<br />
<br />
<br />
<br />
<div *ngIf="alert==true" style="margin:0 auto;" class="alert success w3-panel w3-green">
  <mat-icon id="icon">check_circle_outline</mat-icon><strong>Complaint Lodged Successfully!</strong>
</div>