<div class="container">
  <mat-toolbar>
    <span>Quality Check Authority Login</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>National Identification Number</mat-label>
          <input matInput placeholder = "921481283491" name = "national" [formControl]="national" minlength="2" required>
        </mat-form-field>
        <br />
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" name = "password" [formControl]="password" minlength="8" required>
        </mat-form-field>
        <br />
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button (click)="loginGov()" [disabled]="invalidDetails()!=true" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
  
