<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Consumer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past Subsidies</span>
            </a>
            <a mat-button (click)="viewApplications()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Check Provision</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Lodge Complaint</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/bg.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand"><br/><br/><br/><br/>
                <!--class="presentation-title" -->
                    <h1 class="presentation-title">SUBSIDY TRACKER FOR CONSUMER</h1><br/><br/><br/><br/>
                </div>
                <h2 style="color: white" class="text-center">Welcome to Subisdy Tracker. A digital portal to keep track of all your food subsidy.</h2>
            </div>
        </div>       
    </div>
<div>