<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Consumer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past subsidies</span>
            </a>
            <a mat-button (click)="viewApplications()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Check Provision</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Lodge Complaint</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container">
  <br />
  <br />
  <br />
  <table id="logs">
    <thead>
      <tr class="table-header">
        <th>Sack ID</th>
        <th>Shop</th>
        <th>Invoked Quantity</th>
        <th>Date</th>
      </tr>
    </thead>
    <tr class="table-row" *ngFor="let log of logs">
      <td >{{ log.sackId }}</td>
      <td >{{ log.shopId }}</td>
      <td >{{ log.invokedQuantity }}</td>
      <td >{{ log.timestamp }}</td>
    </tr>
  </table>
</div>