<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span>Food Subsidy DigiTracker@Shop</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewCustomer()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Customer List</span>
            </a>
            <a mat-button (click)="track()">
                <mat-icon>description</mat-icon><span style="font-size:14px;">Track Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Logs</span>
            </a>
            <a mat-button (click)="invoke()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Invoke Subsidy</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:14px;">Add Complaint</span>
            </a>
            <a mat-button (click)="logOut()">
                <mat-icon>lock</mat-icon><span style="font-size:14px;">Logout</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container" *ngIf="bool != false">
  <br />
  <mat-toolbar>
    <span>LAUNCH  A COMPLAINT</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Order Number</mat-label>
          <input matInput placeholder="Order Numnber" name = "orderNumber" [formControl]="orderNumber" maxlength="5" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="full-width">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" name = "description" [formControl]="description" maxlength="500" required>
        </mat-form-field>
        <hr>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" (click)="submit()">Submit Report</button>
    </mat-card-actions>
  </mat-card>
</div>