<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker@Retailer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="track()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Track Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past Subsidies</span>
            </a>
            <a mat-button (click)="invoke()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Issue Subsidy</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Launch Complaint</span>
            </a>
            <a mat-button (click)="viewComplaints()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> View Complaints</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container">
  <br />
  <table id="logs">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Sack ID</th>
        <th>Complaint Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tr class="table-row" *ngFor="let complaint of complaints">
        <td>{{ complaint.citizenId }}</td>
        <td>{{ complaint.subsidyId }}</td>
        <td>{{ complaint.complaintText }}</td>
        <td>{{ complaint.timestamp }}</td>
    </tr>
  </table>
</div>

