<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size:30px">Food Subsidy Tracker @Procurement</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewFPS()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Retailers</span>
            </a>
            <a mat-button (click)="addSubsidy()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Add Food Sack</span>
            </a>
            <a mat-button (click)="send()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Distribute Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past Distributions</span>
            </a>
            <a mat-button (click)="viewComplaints()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> View Complaints</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container">
  <br />
  <mat-toolbar>
    <span style="font-size: 30px">PROCURE NEW SACK</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Quantity" name = "quantity" [formControl]="quantity" maxlength="5" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="full-width">
          <mat-label>Item Name</mat-label>
          <input matInput placeholder="Item Name" name = "itemName" [formControl]="itemName" maxlength="50" required>
        </mat-form-field>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button style="font-size: 30px" type="submit" mat-raised-button color="primary" (click)="submit()">SUBMIT</button>
    </mat-card-actions>
  </mat-card>
</div>
<br />
<br />
<br />
<br />
<!--*ngIf="alert==true" -->
<div *ngIf="alert==true" style="margin:0 auto;" class="alert success w3-panel w3-green">
  <mat-icon id="icon">check_circle_outline</mat-icon><strong>Successfully added new sack!</strong>
</div>