<form *ngIf="paidSuccessful == false">
  <div id="markup" class="wrap" style="padding:100px 100px 0px 100px;display:block;"></div>
  <div style="padding-left: 100px;padding-right:100px;display:block;">
      <h6>Select your IA centre</h6>
      <mat-form-field>
        <mat-select placeholder="IA Centre" [formControl]="selectedCentre" required>
          <mat-option *ngFor="let centre of centres" [value]="centre" >
            {{centre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div id="files" style="padding-left: 100px;padding-right:100px;display:block;">
    <h6>File Uploads</h6>
    <label>Signature</label><br/>
    <input type="file" id="sign" name="file" accept="image/*" (change)="getFiles($event,'sign')" required><br/><br/>
    <label>Address Proof</label><br/>
    <input type="file" id="addressProof" name="file" accept="image/*" (change)="getFiles($event,'addressProof')" required><br/><br/>
    <!-- <img [src]="'data:image/jpg;base64,'+filestring" style="height:500px;width:500px" /> -->
  </div>
  <div  style="padding-left: 100px;padding-right:100px;display:block;">
    <!-- <app-payment-request></app-payment-request> -->
    <p>{{pricing}}</p>
  </div>
  <p></p>
  <button type="submit" (click)="postData()" style="margin-left: 100px;display:block;">Submit</button>
</form>

<div class="container" *ngIf="paidSuccessful == true">
  <h2>Paid Successfully</h2>
</div>
