<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Retailer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="track()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Track Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past Subsidies</span>
            </a>
            <a mat-button (click)="invoke()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Issue Subsidy</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Launch Complaint</span>
            </a>
            <a mat-button (click)="viewComplaints()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> View Complaints</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container" *ngIf="bool != false">
  <br />
  <mat-toolbar>
    <span style="font-size:30px">TRACK A SUBSIDY</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form example-container">
        <mat-form-field class="full-width">
          <mat-label>Sack ID</mat-label>
          <input matInput placeholder="Sack ID" name = "sackId" [formControl]="sackId" maxlength="50" required>
        </mat-form-field>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button style="font-size: 30px" type="submit" mat-raised-button color="primary" (click)="submit()">TRACK SUBSIDY</button>
    </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="tracker!=false">
  <br />
  <table id="logs">
    <thead>
      <tr class="table-header">
        <th rowspan="2">Quantity</th>
        <th rowspan="2">Item Name</th>
        <th rowspan="2">Quality Status</th>
        <th colspan="2">Procurement Center</th>
        <th colspan="2">Local Retailer</th>
        <th colspan="2">Quality Checker</th>
      </tr>
      <tr>
        <th>Centre ID</th>
        <th>Officer Name</th>
        <th>Retail Shop Address</th>
        <th>Retailer Name</th>
        <th>Quality Check Location</th>
        <th>Quality Checker ID</th>
      </tr>
    </thead>
    <tr class="table-row">
      <td rowspan="2">{{ goods.quantity }}</td>
      <td rowspan="2">{{ goods.itemName }}</td>
      <td rowspan="2">{{ goods.qualityStatus }}</td>
      <td>{{ goods.procCentre.procCentreId }}</td>
      <td>{{ goods.procCentre.officerName }}</td>
      <td>{{ goods.shop.address }}</td>
      <td>{{ goods.shop.ownerName }}</td>
      <td>{{ goods.QCs[0].location }}</td>
      <td>{{ goods.QCs[0].QCId }}</td>
    </tr>
  </table>
</div>
