<div style="height: 100vh;"  >
    <mat-toolbar style="background-color:#393e56;color:white;">
      <span>DigiTracker</span>
  
      <span class="example-spacer" style="flex:1 1 auto;"></span>
  
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button (click)="viewLogs()">
          <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Past orders</span>
        </a>
        <a mat-button (click)="viewApplications()">
          <mat-icon>description</mat-icon><span style="font-size:14px;">Check Provision</span>
        </a>
        <a mat-button (click)="addViolations()">
          <mat-icon>alarm_add</mat-icon><span style="font-size:14px;">Launch Complaint</span>
        </a>
        <a mat-button (click)="logOut()">
          <mat-icon>lock</mat-icon><span style="font-size:14px;">Logout</span>
        </a>
      </div>
      <div fxShow="true" fxHide.gt-sm="true">
        <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
      </div>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav-content  fxFlexFill>
        <ng-content ></ng-content>  
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>