body {
    font-family: 'lato', sans-serif;
}

#logs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#logs td, #logss th {
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
}

#logs tr:nth-child(even){background-color: #f2f2f2;}

#logs tr:hover {background-color: #ddd;}

#logs th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #425b82;
    color: white;
}