<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span>Food Subsidy DigiTracker@Government</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewFPS()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">FPS</span>
            </a>
            <a mat-button (click)="addSubsidy()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:14px;">Add Food Subsidy</span>
            </a>
            <a mat-button (click)="send()">
                <mat-icon>description</mat-icon><span style="font-size:14px;">Send Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Logs</span>
            </a>
            <a mat-button (click)="viewComplaints()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:14px;">Complaint Logs</span>
            </a>
            <a mat-button (click)="logOut()">
                <mat-icon>lock</mat-icon><span style="font-size:14px;">Logout</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container">
  <br />
  <table id="logs">
    <thead>
      <tr>
        <th>Shop ID</th>
        <th>Address</th>
        <th>Owner</th>
        <th>Owner ID</th>
        <th>Phone Number</th>
        <th>Licence Number</th>
      </tr>
    </thead>
    <tr class="table-row" *ngFor="let shop of shops">
        <td>{{ shop.shopId }}</td>
        <td>{{ shop.address }}</td>
        <td>{{ shop.ownerName }}</td>
        <td>{{ shop.ownerId }}</td>
        <td>{{ shop.phoneNo }}</td>
        <td>{{ shop.licenseNo }}</td>
    </tr>
  </table>
</div>