<div class="container" *ngIf="bool != false">
  <h2 style="text-align:center;color:#393e56;">LOGIN</h2>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-form-field class="full-width">
          <mat-label>National Identification Number</mat-label>
          <input matInput placeholder="123456789012" name = "national" [formControl]="national" pattern="[0-9]+" maxlength="12" minlength="12" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button (click)="getOtp()" [disabled]="invalidDetails()!=true" color="primary">Generate OTP</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="container" *ngIf="bool == false">
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form">
        <mat-label>Phone Number</mat-label>
        <br />
        <p>{{ mobileNumber }}</p>
        <mat-form-field class="full-width">
          <mat-label>OTP</mat-label>
          <input matInput placeholder="OTP" name = "OTP" [formControl]="otp" pattern="[0-9]+" maxlength="4" minlength="4" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-raised-button (click)="login()" [disabled]="invalidOtp()!=true" color="primary">Log In</button>
    </mat-card-actions>
  </mat-card>
</div>
