.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 10;
}

body {
    font-family: 'lato', sans-serif;
}

#logs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#logs td, #logss th {
    border: 1px solid #ddd;
    padding: 18px;
    text-align: center;
    font-size: 30px;
}

#logs tr:nth-child(even){background-color: #f2f2f2;}

#logs tr:hover {background-color: #ddd;}

#logs th {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #425b82;
    color: white;
    font-size: 30px;
}

.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  mat-form-field.mat-form-field {
    font-size: 30px;
  }

  .example-container > * {
    width: 100%;
  }

  .alert {
    padding: 20px;
    width: 60%;
    align-self: center;
    align-items: center;
    align-content: center;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
  }

  #icon {
    font-size: 40px;
    padding-inline-end: 60px;
    padding-top: 10px;
  }