<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span style="font-size: 30px">Food Subsidy Tracker @Retailer</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="track()">
                <mat-icon>description</mat-icon><span style="font-size:30px;"> Track Goods</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Past Subsidies</span>
            </a>
            <a mat-button (click)="invoke()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> Issue Subsidy</span>
            </a>
            <a mat-button (click)="addViolations()">
                <mat-icon>alarm_add</mat-icon><span style="font-size:30px;"> Launch Complaint</span>
            </a>
            <a mat-button (click)="viewComplaints()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:30px;"> View Complaints</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<div class="container" *ngIf="bool != false">
  <br />
  <mat-toolbar>
    <span style="font-size: 30px">INVOKE A SUBSIDY</span>
  </mat-toolbar>
  <mat-card class="my-card">
    <mat-card-content>
      <form class="my-form example-container">
        <mat-form-field class="full-width">
          <mat-label>Customer ID</mat-label>
          <input matInput placeholder="Customer ID" name = "customerId" [formControl]="customerId" maxlength="50" required>
        </mat-form-field>
        <hr>
        <mat-form-field class="full-width">
          <mat-label>Quantity</mat-label>
          <input matInput placeholder="Quantity" name = "quantity" [formControl]="quantity" maxlength="50" required>
        </mat-form-field>
        <hr>
                <mat-form-field class="full-width">
          <mat-label>Sack ID</mat-label>
          <input matInput placeholder="sackId" name = "sackId" [formControl]="sackId" maxlength="50" required>
        </mat-form-field>
        <hr>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button style="font-size: 30px" type="submit" mat-raised-button color="primary" (click)="submit()">ISSUE SUBSIDY</button>
    </mat-card-actions>
  </mat-card>
</div>
<br />
<br />
<div class="container" *ngIf="s != false">
    <br />
  <mat-toolbar>
    <span>SUBSIDY ISSUED</span>
  </mat-toolbar>
  <table id="logs">
    <thead>
      <tr>
        <th>Sack ID</th>
        <th>Subsidy ID</th>
      </tr>
    </thead>
    <tr class="table-row">
        <td>{{ sack }}</td>
        <td>{{ subsidy }}</td>
    </tr>
  </table>
</div>

<br />
<br />
<br />
<br />
<div *ngIf="errorB==true" style="margin:0 auto;" class="alert error w3-panel w3-red">
  <mat-icon id="icon">error_outline</mat-icon><strong>Issue of subsidy failed!</strong>
  <br />
  ERROR: {{ status }}
</div>