<div>
    <mat-toolbar style="background-color:#393e56;color:white;">
        <span>Food Subsidy DigiTracker@Quality Check</span>
    
        <span class="example-spacer" style="flex:1 1 auto;"></span>
    
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button (click)="viewFPS()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Shops List</span>
            </a>
            <a mat-button (click)="send()">
                <mat-icon>description</mat-icon><span style="font-size:14px;">Check Quality</span>
            </a>
            <a mat-button (click)="viewLogs()">
                <mat-icon>perm_contact_calender</mat-icon><span style="font-size:14px;">Logs</span>
            </a>
            <a mat-button (click)="logOut()">
                <mat-icon>lock</mat-icon><span style="font-size:14px;">Logout</span>
            </a>
        </div>
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()"><mat-icon>more_vert</mat-icon></a>
        </div>
    </mat-toolbar>
</div>
<p>SHOP WORKS</p>